html, body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    background-color: #EEAA77;
    color: #115588;
    font-size: larger;
    
}

#starthead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
}

 button#start {
    width: 15%;
    display: flex;
    justify-content: center;
    background-color: #115588;
    color: whitesmoke;
    text-shadow: whitesmoke;
    border: none;
    height: 15%;
    
}

#startform {
    width: 100%;
    display: flex;
    justify-content: center;
}

#ingredient-bs {
    color: whitesmoke;
    background-color: #115588;
/*    border-radius: 20%; */
    height: 35px;
}

#ingredient-flour {
    color: whitesmoke;
    background-color: #115588;
/*    border-radius: 20%; */
    height: 35px;
}

#ingredient-h2o {
    color: whitesmoke;
    background-color: #115588;
/*    border-radius: 20%; */
    height: 35px;
}

#ingredient-nac1 {
    color: whitesmoke;
    background-color: #115588;
/*    border-radius: 20%; */
    height: 35px;
}
#clrbtn {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#clrbtn>button {
    background-color: red;
    color: whitesmoke;
    width: 15%;
}
.appl {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bowl {
    background-color: lightgrey;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: slategray;
}

.ingredients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

#ingredients {
    border: 2px solid #115588;
    column-width: 180px;
    width: 25%;
    height: 25%;

}

.hidden {
    display: none;
}

.nav>button {
    border: none;
    background-color:#115588;
/*    border-radius: 25%; */
    color: whitesmoke;
}

.nav{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-content: flex-end;
}

.ingredients>button {
    width: 75%;
}

#ovenele {
    display: flex;
    justify-content: center;
}

#tablediv {
    display: flex;
    justify-content: center;
}

#tableheader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25%;
}

#tableresults {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25%;
}